/**
 * Common less mixins
 *
 * Stop writing support for every browser
 * and save yourself some freakin' time!
 *
 * @author       Tim Santor <tsantor@xstudiosinc.com>
 * @version      1.0
 * @copyright    2013 X Studios
 * @link         http://www.xstudiosinc.com
 */

/* ------------------------------------------------------------------------ */
/* enable css3pie (requires the PIE.htc file) -- http://css3pie.com */
/* ------------------------------------------------------------------------ */
.pie() { behavior: url(/public/htc/PIE.htc); }

/* ------------------------------------------------------------------------ */
/* clearfix -- For clearing floats like a boss h5bp.com/q */
/* ------------------------------------------------------------------------ */
.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

/* ------------------------------------------------------------------------ */
/* font-face */
/* ------------------------------------------------------------------------ */
.font-face(@fontname, @fontfile) {
    font-family: "@{fontname}";
    src: url("@{fontfile}-webfont.eot");
    src: url("@{fontfile}-webfont.eot?#iefix") format("embedded-opentype"),
         url("@{fontfile}-webfont.woff") format("woff"),
         url("@{fontfile}-webfont.ttf") format("truetype"),
         url("@{fontfile}-webfont.svg#@{fontname}") format("svg");
    font-weight: normal;
    font-style:  normal;
}

/* ------------------------------------------------------------------------ */
/* size */
/* ------------------------------------------------------------------------ */
.size(@square) {
    width:  @square;
    height: @square;
}

.size(@width, @height) {
    width:  @width;
    height: @height;
}

/* ------------------------------------------------------------------------ */
/* gradient */
/* ------------------------------------------------------------------------ */
.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
    background: @color;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, @start), color-stop(1, @stop));
    background: -ms-linear-gradient(bottom,@start, @stop);
    background: -moz-linear-gradient(center bottom, @start 0%, @stop 100%);
    background: -o-linear-gradient(@stop, @start);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}

/* ------------------------------------------------------------------------ */
/* bordered */
/* ------------------------------------------------------------------------ */
.bordered(@top-color: #EEE, @right-color: #EEE, @bottom-color: #EEE, @left-color: #EEE) {
    border-top:    solid 1px @top-color;
    border-left:   solid 1px @left-color;
    border-right:  solid 1px @right-color;
    border-bottom: solid 1px @bottom-color;
}

/* ------------------------------------------------------------------------ */
/* border-radius */
/* ------------------------------------------------------------------------ */
.border-radius(@tl: 4px, @tr: 4px, @br: 4px, @bl: 4px) {
    -webkit-border-radius: @tl @tr @br @bl;
    -moz-border-radius:    @tl @tr @br @bl;
    border-radius:         @tl @tr @br @bl;
    .background-clip(padding-box);
    .pie;
}

.rounded-corners(@radius: 4px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;
    .pie;
}

/* ------------------------------------------------------------------------ */
/* shadows */
/* ------------------------------------------------------------------------ */
.inner-shadow(@horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4) {
    -webkit-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
    -moz-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
    box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
}
.box-shadow(@arguments) {
    -webkit-box-shadow: @arguments;
    -moz-box-shadow:    @arguments;
    box-shadow:         @arguments;
    .pie;
}
.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
    -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
    box-shadow:         @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}
.text-shadow (@alpha: .15) {
    text-shadow: 1px 1px 3px rgba(0,0,0, @alpha);
}

/* ------------------------------------------------------------------------ */
/* opacity */
/* ------------------------------------------------------------------------ */
.opacity(@opacity: 0.5) {
    zoom:1;
    -moz-opacity:    @opacity;
    -khtml-opacity:  @opacity;
    -webkit-opacity: @opacity;
    opacity:         @opacity;
    @opperc:         @opacity * 100;
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
    filter: ~"alpha(opacity=@{opperc})";
}

/* ------------------------------------------------------------------------ */
/* transform, rotation & scale */
/* ------------------------------------------------------------------------ */
.transform(...) {
    -webkit-transform: @arguments;
    -moz-transform:    @arguments;
    -o-transform:      @arguments;
    -ms-transform:     @arguments;
    transform:         @arguments;
}
.rotation(@deg:5deg){
    .transform(rotate(@deg));
}
.scale(@ratio:1.5){
    .transform(scale(@ratio));
}
.translate(@x:0, @y:0) {
    .transform(translate(@x, @y));
}

/* ------------------------------------------------------------------------ */
/* background clip */
/* ------------------------------------------------------------------------ */
.background-clip(@argument: padding-box) {
    -moz-background-clip:    @argument;
    -webkit-background-clip: @argument;
    background-clip:         @argument;
}

/* ------------------------------------------------------------------------ */
/* disable user selection */
/* ------------------------------------------------------------------------ */
.user-select(@argument: none) {
    -webkit-user-select: @argument;
    -moz-user-select:    @argument;
    -ms-user-select:     @argument;
    user-select:         @argument;
}

/* ------------------------------------------------------------------------ */
